:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr{
    background-color: #008e76;
  }
  .p-datatable .p-datatable-thead > tr > th {
    color:#fafafa;
    background-color: #008e76;
    margin: auto;
    column-rule-width: 10%
  }
  .p-datatable .p-datatable-thead > tr > th >.pi-sort{
    color:#91c9ae
  }
  .p-datatable .p-datatable-thead > tr > td{
    cursor: auto;
    text-align: left;
  }
  .p-datatable.p-datatable-customers >.p-datatable-header{

    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
   .p-datatable.p-datatable-customers >.p-paginator {
     padding: 1rem;
   }
   .table{
   width:100%;
   }
}
