<p-tabView styleClass="tabview-custom">
  <p-tabPanel class="info">
    <ng-template pTemplate ="header">
      <i class="pi pi-list" style="color:black"></i>
      <span>應用頁面資訊</span>
    </ng-template>
    <p-table [value]="this.pageSvc.appPageInfos" [rows]="15" [paginator]="true" [rowHover]="true" class="table">
      <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="pageId" style="width:130px">頁面代號<i class="pi pi-sort"></i></th>
            <th pSortableColumn="pageTitle" style="width:170px">頁面標題<i class="pi pi-sort"></i></th>
            <th pSortableColumn="templateUrl" style="width:200px">網頁路徑<i class="pi pi-sort"></i></th>
            <th pSortableColumn="moduleName" style="width:170px">輸出模組名稱<i class="pi pi-sort"></i></th>
            <th pSortableColumn="versionId" style="width:100px">版本<i class="pi pi-sort"></i></th>
            <th pSortableColumn="maintainer" style="width:130px">維護人員<i class="pi pi-sort"></i></th>
            <th style="text-align: right;"><i class="pi pi-ellipsis-v" style="color:white;"></i></th>
            <th>
              <p-multiSelect [options]="items" [displaySelectedLabel]="false" [(ngModel)]="selected" placeholder="選擇顯示欄位" optionLabel="name" optionDisabled="inactive">
              </p-multiSelect>
            </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-page>
        <tr>
            <td style="width:10px" >{{page.pageId}}</td>
            <td style="width:170px">{{page.pageTitle}}</td>
            <td style="width:200px">{{page.templateUrl}}</td>
            <td style="width:170px">{{page.moduleName}}</td>
            <td style="width:100px">{{page.versionId}}</td>
            <td style="width:130px">{{page.maintainerName}}</td>
            <td>
                <button style="width:50px" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPage(page)"></button>
                <button style="width:50px" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePage(page)" style="margin-left: 10px;"></button>
            </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>
