<div class="btn1">
  <button pButton (click)="showBasicDialog()" icon="pi pi-plus" type="button" label="新增" class="btn"></button>
  <p-dialog header="應用頁面" [(visible)]="displayBasic" [style]="{width: '40vw'}">
    <div class="card">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="pageId">頁面代號</label>
          <input id="pageId" type="text" [(ngModel)]="newpageId" pInputText />
        </div><br>
        <div class="p-field p-col-12 p-md-6">
          <label for="versionId">版本</label>
          <input id="versionId" type="text" [(ngModel)]="versionId" pInputText />
        </div><br>
        <div class="p-field p-col-12">
          <label for="pageTitle">頁面標題</label>
          <input id="pageTitle" type="text" [(ngModel)]="pageTitle" pInputText />
        </div><br>
        <div class="p-field p-col-12">
          <label for="templateUrl">網頁路徑</label>
          <input id="templateUrl" type="text" (blur)="checkUrl(templateUrl)" [ngClass]="{'alerturl': alerturl==true}" [(ngModel)]="templateUrl" pInputText />
        </div><br>
        <div class="p-field p-col-12">
          <label for="moduleName">輸出View名稱</label>
          <input id="moduleName" type="text" [(ngModel)]="viewName" pInputText />
        </div><br>
        <div class="p-field p-col-12">
          <label for="moduleName">輸出模組名稱</label>
          <input id="moduleName" type="text" [(ngModel)]="moduleName" pInputText />
        </div><br>
        <div class="p-field p-col-12">
          <label for="maintainerName">維護人員</label>
          <p-dropdown inputId="empNo" optionLabel="empName" [options]="getEmp" [(ngModel)]="maintainerName"></p-dropdown>
        </div><br>
      </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="確認" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="cancel()" label="取消" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <button pButton icon="pi pi-save" type="button" label="儲存" class="btn"></button>
</div>
<app-page-body></app-page-body>
